.ViewButton1{
    width: 10%;
    color: #fff;
    background-color: #1ab394;
    border: transparent;
    border-radius: 2px;
}
.ViewButton1:hover{
    background-color: #2b8774;
    cursor: pointer;
}