.inputtag{
    color: grey;
    border: "1px solid red";
    height: 60px;
}
.inputtags{
    color: grey;
    width: 100%;
}
.registerbutton{
    color: #FFFFFF;
    background-color: #1ab394;
    border-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5%;
}
.registerbutton:hover{
    background-color: #2b8774;
}