.card {
  background-color: #901aff;
  width: 250px;
  height: 200px;
  margin: 25px;
  border-color: #350066;
  border-width: 5px;
  margin-left: 100%;
  margin-top: 25%;
}
.card-body {
  color: #fff;
  text-align: center;
}
.linkclass {
  margin-bottom: 5px;
  text-align: left;
}
a:hover {
  color: #151415;
}
a {
  color: #fff;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #bed5d1;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px #747c7b;
  width: 90%;
}
